:root{

    --bg:#08111f;
    --bg2:#101b2f;

    --card:#16263d;

    --blue:#1EA7FF;
    --red:#E53935;

    --white:#F5F7FA;
    --gray:#B9C3CF;

    --border:#284867;

}
body{

    background:var(--bg);

    color:var(--white);

    font-family:'Inter',sans-serif;

}
